@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(https://fonts.googleapis.com/css?family=Roboto);
*:focus {
	outline: none!important;
} 
body { 
  background: url(../img/index-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Ubuntu", sans-serif;
  font-size: 100%;  
}
.row {
    text-align: center; 
    margin-bottom: 20px;
}

h5{ 
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
/* Ghost Button */

strong {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 75px;
    color: #fff;    
}
i {
    font-size: 75px;
    color: white;
}

.col-md-12{
    background-color: rgba(256,256,240,0.5);
    margin:10px;
    margin-top:80px;
    margin-left:10px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.col-md-12 h1{
    text-align: center;
}
.col-md-12 h3{
    text-align:right;
    font-style: italic;
}
.col-md-12   p{
    font-size: 18px;
    text-align: justify;
}

.navbar {
    border-color: transparent;
    height: 40px;
    background-color: rgba(36, 36, 29, 0.8);
}

.navbar h2 {
    color: white;
    font-family: 'Gill';
    font-size: 16px;
    margin-top:2px;
    margin:2px;
    margin-right: 3px;
}
.navbar-collapse {
    border-color: transparent;
    background-color: rgba(36, 36, 29, 0.8);
}
